// Colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ffb900;

$color-grey-light-1: #e7e7e7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// Grid
$grid-width: 114rem; // Standard is 1140px rows
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;
