.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* points are clockwise from top left x y */
  position: relative;

  @include respond(phone) {
    -webkit-clip-path: ;
    clip-path: ;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    transition: 750ms;
    opacity: .25;
  }

  &__logo:hover{
    transform: rotateY(180deg) scale(1.4, 1.4);
    opacity: 1;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
