.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    background-color: #fff;
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    width: 100%;

    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    transition: all .8s ease;

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: orange;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
