.popup {
  position: fixed;
  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 103;

  &__content {
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;

    @include center;
  }

  &__left {
    width: 33.333333%;
    float: left;
    display: table-cell;
  }

  &__right {
    width: 66.666666%;
    float: left;
    display: table-cell;
    vertical-align: middle;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text {

  }
}
