.popup {
  position: fixed;
  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 103;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include center;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow:hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s .25s;
  }

  &__left {
    width: 33.333333%;
    float: left;
    display: table-cell;
  }

  &__right {
    width: 66.666666%;
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    margin-top: 2rem;
    column-rule: 1px solid $color-grey-dark-2;
    hyphens: auto;
  }
}
