*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Browser default is 16px. 10px is 62.5% of 16. */

  @include respond-phone {
      font-size: 50%;
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;
}
