* {
  margin: 0;
  padding: 0;
}

// Variables
// -- Colors --
$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;

// -- Sizes --
$width-button: 150px;

// - Mixins --
@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin style-link-text {
  text-decoration: none;
  text-transform: uppercase;
  color: $color-text-light;
}

// Styles
// -- Nav --
nav {
  margin: 30px;
  background-color: $color-primary;
  @include clearfix;
}

.navigation {
  list-style: none;
  float: left;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child { // same as .navigation li:first-child
      margin: 0;
    }

    a { // same as .navigation li a
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

// -- Buttons --
.buttons {
  float: right;
}

.btn-main:link,
.btn-hot:link {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: %width-button;
}

.btn-main {
  &:link {
    background-color: $color-secondary;
  }
  &:hover {
    background-color: darken(%color-secondary, 15%);
  }
}

.btn-hot {
  &:link {
    background-color: $color-tertiary;
  }
  &:hover {
    background-color: lighten(%color-tertiary, 10%);
  }
}
